@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --movement-yellow: #FAFF00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-movement-yellow: var(--movement-yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nextjs-portal {
  display: none !important;
}
